/*
 * File: style.css
 * Name: Wenjie Zhou
 * ID: 301337168
 * Date: Jun 6, 2023
 */

 /* Set style for main content */

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label{
    width: 130px;
    margin-right: 10px;
    text-align: right;
}

.form-group input,
.form-group textarea{
    width: 300px;
}

button[type="submit"]{
    margin-top: 10px;
    margin-left: 225px;
}

.navbar-brand{
    margin-left: 50px;
}

.navbar-max .nav-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
  
.navbar-max .nav-link svg {
    margin-right: 5px;
    vertical-align: middle;
}